
.destination-card {
    flex: 1 1 calc(25% - 1rem);
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: white;
    text-decoration: none;
    color: inherit;
    max-width: 400px;
}

.destination-card:hover {
    transform: translateY(-5px);
    background-color: #f4f4f4;

}

.destination-image {
    width: 100%;
    height: auto;
}

