#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Bases */

.base-container {
  /* Posicionamiento */
  position: relative;
  z-index: 1;
  margin: 0 auto;

  /* Flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Box model */
  padding: 2rem;
  border-radius: 10px;

  /* Estilo visual */
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.base-title {
  font-size: 2rem;
  color: #2C3E50;
  margin: 0.5rem;
  text-align: center;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  padding: 0.75rem;
  border-radius: 5px;
  width: fit-content;
}

.base-subtitle {
  font-size: 1rem;
  color: #7F8C8D;
  margin-top: 1rem;
  text-align: center;
}

.base-text,
.base-hipertext {
  font-size: 1.1rem;
  color: #000000;
  margin: 0.5rem 0;
  text-align: center;
}

.base-hipertext {
  cursor: pointer;
  color: #2980B9;
  text-decoration: underline;
}

.base-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.base-input,
.base-textarea,
.base-form input,
.base-form textarea {
  margin-bottom: 1rem;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: transform 0.2s ease;
}

.base-input:hover,
.base-textarea:hover,
.base-form input:hover,
.base-form textarea:hover {
  transform: scale(1.02);
}

.base-input:focus,
.base-textarea:focus,
.base-form input:focus,
.base-form textarea:focus {
  border-color: #3498db;
  outline: none;
}

.base-button, 
.base-secondary-button,
.base-small-button {
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease;
}

.base-button {
  border: none;
  background-color: #3498DB;
  color: white;
}

.base-secondary-button {
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

.base-small-button {
  padding: 8px 12px;
  background-color: #3498DB;
  color: white;
  border: none;
}

.base-button:hover,
.base-small-button:hover {
  background-color: #2980B9;
  transform: scale(1.01);
}

.base-secondary-button:hover {
  background-color: #e0e0e0;
  transform: scale(1.01);
}

.base-password-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.base-password-wrapper input {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.base-toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-100%);
  background: none;
  opacity: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.base-toggle-password:hover {
  opacity: 80%;
}

.base-message {
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}

.base-message.loading {
  color: #3498DB;
}
  
.base-message.success {
  color: #27AE60;
}
  
.base-message.error {
  color: #E74C3C;
}

.base-posts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center
}