.perfil-usuario {
    max-width: 800px;
  }
  
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  padding: 0.75rem;
  border-radius: 5px;
  width: 100%;
  gap: 1rem;
}

.user-info p {
  margin: 0;
}